body{
    padding-left: 120px;
    padding-top: 100px;
} 
th{
  text-align: center;
  border:1px solid black;
  width:50%;
}
td{
    /* text-align: center; */
    border:1px solid black;
    width:30%;
  /* margin-left: 0px; */
    
}

input[type=text]{
 width:60%;
 margin-left: 70PX;

}
#addBtn{
  border:3px solid rgb(177, 171, 171);
  font-family: 'Times New Roman', Times, serif;
  width:20%;
  background-color: rgb(189, 239, 255);
}